# 📊 Sales Report using SQLite, Pandas, and Matplotlib
This notebook connects to a SQLite database, runs SQL queries to summarize sales data,
and visualizes the results with a bar chart.

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('sales_data.db')

# Create the sales table and insert sample data
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS sales')
cursor.execute('''
    CREATE TABLE sales (
        product TEXT,
        quantity INTEGER,
        price REAL
    )
''')

sample_data = [
    ('Apple', 10, 0.5),
    ('Banana', 15, 0.3),
    ('Orange', 7, 0.6),
    ('Apple', 5, 0.5),
    ('Banana', 8, 0.3)
]

cursor.executemany('INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)', sample_data)
conn.commit()

In [ ]:
# Query 1: Sales summary by product
query1 = '''
SELECT 
    product, 
    SUM(quantity) AS total_qty, 
    SUM(quantity * price) AS revenue 
FROM sales 
GROUP BY product
'''
df1 = pd.read_sql_query(query1, conn)
print("=== Sales Summary by Product ===")
print(df1)

In [ ]:
# Plot bar chart of revenue by product
df1.plot(kind='bar', x='product', y='revenue', legend=False, title='Revenue by Product')
plt.ylabel('Revenue ($)')
plt.tight_layout()
plt.show()

In [ ]:
# Query 2: Total revenue
query2 = 'SELECT SUM(quantity * price) AS total_revenue FROM sales'
df2 = pd.read_sql_query(query2, conn)
print("\n=== Total Revenue ===")
print(df2)

In [ ]:
# Close the connection
conn.close()